<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
<!-- 通过ID定义 --> 
<bean id="hello" class="xyz.javass.spring.helloworld.HelloImpl"></bean>
<!-- 通过全类名定义 -->
<bean class="xyz.javass.spring.helloworld.HelloImpl"></bean>
<!-- 通过名称定义 -->
<bean name="hello2" class="xyz.javass.spring.helloworld.HelloImpl"></bean>
<!-- 通过ID和别名定义定义 -->
<bean  id="hello1" name="h1" class="xyz.javass.spring.helloworld.HelloImpl"/>
<!-- 通过多个别名，第一个别名是用做标识符号 -->
<bean  name="h2,h3,h4,h5" class="xyz.javass.spring.helloworld.HelloImpl"/>
<!-- 别名和ID不能重复否则容器会自动消除重复-->
<bean  name="h6" id="h6" class="xyz.javass.spring.helloworld.HelloImpl"/>
</beans>


