<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--Config by constructor-based DI-->
    <!-- Definition for textEditor bean -->
    <bean id = "textEditor" class = "org.example.Constructor_DI.TextEditor">
        <constructor-arg ref = "spellChecker"/>
    </bean>

    <!--Config by setter-based DI-->
    <!-- Definition for spellChecker bean -->
    <bean id = "spellChecker" class = "org.example.Constructor_DI.SpellChecker"/>
    <!-- Definition for textEditor bean -->
    <bean id = "textEditor2" class = "org.example.Setter_DI.TextEditor">
        <property name = "spellChecker" ref = "spellChecker2"/>
    </bean>

    <!-- Definition for spellChecker bean -->
    <bean id = "spellChecker2" class = "org.example.Setter_DI.SpellChecker"/>

    <!--Config to Inject innerBean for bean-->
    <!-- Definition for textEditor bean using inner bean -->
    <bean id = "textEditor3" class = "org.example.Inject_InnerBean.TextEditor">
        <property name = "spellChecker">
            <bean id = "spellChecker3" class = "org.example.Inject_InnerBean.SpellChecker"/>
        </property>
    </bean>

    <!--Config to inject javaCollection-->
    <!-- Definition for javaCollection -->
    <bean id = "javaCollection" class = "org.example.Inject_Collection.JavaCollection">

        <!-- results in a setAddressList(java.util.List) call -->
        <property name = "addressList">
            <list>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </list>
        </property>

        <!-- results in a setAddressSet(java.util.Set) call -->
        <property name = "addressSet">
            <set>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </set>
        </property>

        <!-- results in a setAddressMap(java.util.Map) call -->
        <property name = "addressMap">
            <map>
                <entry key = "1" value = "INDIA"/>
                <entry key = "2" value = "Pakistan"/>
                <entry key = "3" value = "USA"/>
                <entry key = "4" value = "USA"/>
            </map>
        </property>

        <!-- results in a setAddressProp(java.util.Properties) call -->
        <property name = "addressProp">
            <props>
                <prop key = "one">INDIA</prop>
                <prop key = "one">INDIA</prop>
                <prop key = "two">Pakistan</prop>
                <prop key = "three">USA</prop>
                <prop key = "four">USA</prop>
            </props>
        </property>
    </bean>


</beans>